
a{
    text-decoration: none;
  }
  body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../assets/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    width: 40%;
  }
  .content {
      display: flex;
      flex-direction: column;
      width: 500px;
      height:395px;
      background-color: rgba(138, 135, 233, 0.25);
      backdrop-filter: blur(30px);
      border:1px solid #fff;
      border-left: 0;
      border-radius: 0px 15px 15px 0px;
  }
  .no-todo{
      margin-top: 20px;
      text-align: center;
      color:#fff;
    }
    .no-todo img{
      margin-top: 40px;
      width: 70px;
      height: 70px;
    }