*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
a{
  text-decoration: none;
}
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../src/assets/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 40%;
}